{{!-- placeholder --}}
{{!-- <h1>Working on IT!!!</h1> --}}

{{!-- container for page --}}
<div class='container'>
    {{!-- page banner --}}
    <div class='row'>
        <div id='banner' class='col-12'>
            <h1 id='label'>NewsScraper - Washington Post
                <a href='/saved' class="nav-button"> Saved Articles </a>
                <br>
                <button id='scrape' class="navigate">Scrape</button>
                <button id='delete' class="navigate">Delete All</button>
            </h1>
        </div>
    </div>

    <div class='row'>
        <div id='article-container' class='col-12'>
            <h3>Waiting for Godata</h3>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
{{!-- link to bootbox.js for modals --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.3/bootbox.min.js"></script>
{{!-- link to js for page --}}
<script type='text/javascript' src='../public/assets/javascript/index.js'></script>