{{!-- placeholder --}}
{{!-- <h1>Working on IT Two!!!</h1> --}}

{{!-- container for page --}}
<div class='container'>
    {{!-- page banner --}}
    <div id='banner'>
        <h1>Working on IT Two!!!
            <a href='/' class="nav-button">Home Page</a>
            <button class="navigate in-line">Add Notes</button>
        </h1>
    </div>
    {{!-- display articles --}}
    {{!-- <div class='col-10'>
        <ul>
            <li>
                {{#each articles}}
                {{#unless this.saved}}
                    {{this.title}}
                    {{this.link}}
                    {{this.body}}
                {{/unless}}
                {{/each}}
            </li>
        </ul>

    </div> --}}
</div>
<script type='text/javascript' src='../public/assets/javascript/saved.js'></script>
