/* style elements */
body{
    background-image: url(../images/newspaper.jfif);
}

h1 {
    color: white;
    text-align: left;
}

/* button {
    margin-left: 60px;
} */

hr {
    border: 3px solid yellow;
}

/* style classes */
.panel-heading, .note-head {
    background-color: pink;
}

.btn-success {
    vertical-align: top;
}

.btn-danger, .btn-info {
    float: right;
    margin-top: 20px;
    /* border-top: 20px; */
}

.nav-button {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

.navigate {
    text-align: center;
}

.note-delete {
    margin-top: 0px;
}

/* style ids */
#banner {
    width: 100%;
    background-color: aqua;
}

#article-container {
    background-color: blueviolet;
}

#note-container {
    background-color: rgb(172, 141, 202);
}

#scrape {
    background-color: brown;
    color: white;
    text-align: center;
    float: left
}

#delete {
    background-color:red;
    color:white;
    text-align: center;
    float: right
}

#label {
    color: purple;
    float: center
}

