/* style elements */
body{
    background-image: url(../images/newspaper.jfif);
}

h1 {
    color: white;
    text-align: center;
}

/* style classes */

/* style ids */
#banner {
    background-color: aqua;
}

#article-container {
    background-color: blueviolet;
}